<section id="clients" class="mb-5">
    <div class="container-fluid pt-5">
        <div class="text-center">
            <h3 class="font-weight-bold mb-4 pb-2">Clientes y socios</h3>
            <!-- <p class="w-responsive mx-auto mb-5">
                Estas son algunas de las empresas con las que AMS ha trabajado.
            </p> -->
        </div>
        <div id="carouselClients" class="carousel slide" data-ride="carousel">
            <div>
                <a class="carousel-control-prev" href="#carouselClients" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselClients" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <div class="w-75 m-auto carousel-inner">
                    {% for client_row in clients.items() | batch(3)%}
                    <div class="carousel-item justify-content-center {{ 'active' if loop.index == 1 }}">
                        <div class="card-deck w-100 justify-content-center">
                            {% for key, value in client_row %}
                            {% call card.minimal(size='col-sm-4', depth='z-depth-0', cursor='pointer') %}
                            <img src="{{ url_for('.static',filename='img/clients/') }}{{ key | lower }}.{{ value.ext }}"
                                alt="{{ key }} logo" style="height: 5rem;" class="mw-100">
                            <a href="http://{{ value.href }}" target="_blank"></a>
                            {% endcall %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <ol class="carousel-indicators pb-2 mb-0" style="position: relative;">
                {% for client_row in clients | batch(3) %}
                <li data-target="#carouselClients" data-slide-to="{{ loop.index-1 }}"
                    class="{{ 'active' if loop.index == 1 }} primary-color"></li>
                {% endfor %}
            </ol>
        </div>
    </div>
</section>