<div class="container mb-5">
    <div class="row justify-content-around">
        <div class="col-sm-5 d-flex align-items-center mb-3">
            <div class="text-center text-md-right">
                <h3 class="font-weight-bold mb-4">Redes sociales</h3>
                <p>
                    Para estar al día con todas nuestras charlas, eventos y demás, asegurese de seguirnos en las
                    siguientes redes sociales:
                </p>
                <div class="h2" style="cursor: pointer;">
                    <a href="https://cr.linkedin.com/company/advisory-&-management-services?trk=public_profile_topcard_current_company"
                        target="_blank" class="amber-text mx-1 mr-4" role="button"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/AMSCR/" target="_blank" class="amber-text mx-1" role="button"><i
                            class="fab fa-facebook-square"></i></a>
                </div>

            </div>
        </div>
        <div class="col-auto" style="padding: 0px; border: 20px solid #252525; border-top: 40px solid #252525; border-bottom: 40px solid #252525;
        border-radius: 25px;">
            <iframe
                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAMSCR&tabs=timeline%2Cevents&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId"
                width="320" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
</div>