{% extends "views/base/base.html" %}
{% import 'components/card.html' as card %}
{% import 'components/carousel.html' as carousel %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('.static',filename='css/index.min.css') }}">
{% endblock styles %}

{% block header %}
<!-- index carousel -->
{{ carousel.full_screen('index-carousel',carousel_info,'index-carousel',full_screen=true) }}
{% endblock header %}

{% block content %}
<!-- about -->
{% include 'views/index/about.html' %}
<!-- services -->
{% include 'views/index/services.html' %}
<!-- clients -->
{% include 'views/index/clients.html' %}
<!-- facebook -->
{% include 'views/index/facebook.html' %}

{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/custom/views/index.js') }}"></script>
{% endblock scripts %}