<section id="services" class="pt-5">
    <div class="mask primary-color">
        <div class="container my-5 py-5 text-white">
            <section>
                <h3 class="font-weight-bold text-center pb-2">Nuestros Servicios</h3>
                <p class="lead text-center pt-2">
                    Nuestros servicios están estructurados en cuatro pilares que potencias los beneficios mediante la
                    adecuada utilización y gestión de los recursos tecnológicos en su organización.
                </p>
                <p class="lead text-center mb-5">
                    Este modelo de servicios ofrece un enfoque integral, que involucra los aspectos estratégicos,
                    operativos y organizacionales de su empresa.
                </p>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 col-lg-5">
                        <h5 class="font-weight-normal border-top border-white pt-4 mb-4">Gobierno de TI</h5>
                        <div class="mb-5 pb-md-3">
                            <ul>
                                <li>Evaluación del Gobierno de TI</li>
                                <li>Gestión documental de TI</li>
                                <li>Definición, documentación y comunicación de políticas, estándares y procesos de gobernabilidad y control de TI</li>
                                <li>Cumplimiento del ambiente regulatorio</li>
                                <li>Evaluación e implementación de la Gestión de la Continuidad del Negocio</li>
                                <li>Evaluación e implementación de normativas asociadas con la Gestión de TI</li>
                                <li>Auditoría de Tecnología de la Información</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <h5 class="font-weight-normal border-top border-white pt-4 mb-4">Actualización Tecnológica</h5>
                        <div class="mb-5 pb-md-3">
                            <ul>
                                <li>Evaluación para la adquisición y selección de software y hardware</li>
                                <li>Mejora y rediseño de procesos con base en mejoras tecnológicas y mejores prácticas de la Industria</li>
                                <li>Análisis del retorno de la inversión (ROI)</li>
                                <li>Implementación y Testing de Sistemas de Información y Apps</li>
                                <li>Gerencia y gestión de proyectos de Tecnología</li>
                                <li>Administración de los riesgos para proyectos tecnológicos</li>
                                <li>Auditoría y controles para sistemas de información</li>
                                <li>Fábrica de software e integración de sus aplicaciones y soluciones tecnológicas (sistemas a la medida)</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-10 col-lg-10">
                        <h5 class="font-weight-normal border-top border-white pt-4 mb-4">Gestion Integrada de Monitoreo de Redes / Alarmas</h5>
                        <div class="mb-5">
                            <p>
                                Nuestros servicios de implementación de soluciones y procesos están enfocados a la gestión de tecnologías para la Infraestructura de TIC y se alinean con buenas prácticas de la industria y coadyuvan a las empresas en el cumplimiento de objetivos alineados con modelos y normas como ITIL, COBIT, ISO 27002 y otros.
                                Ofrecemos servicios y soluciones relacionados con: 
                            </p>
                            <ul>
                                <li>Monitoreo de la infraestructura de red TIC. </li>
                                <li>Integración de gestión de monitoreo para el descubrimiento y análisis inspector del tráfico entrante y saliente de la red (Internet, WAN, WLAN, LAN).</li>
                                <li>Monitoreo integrado, para la gestión en red, de páneles de alarmas y sensores de incendio.</li>
                                <li>Diagnóstico del estado actual de la seguridad de su red.</li>
                            </ul>
                            <span>Si requiere mayor información o desea que uno de nuestros profesionales le asesore, contáctenos o escríbanos al correo <a href="mailto:monitoreo@ams-cr.com">monitoreo@ams-cr.com</a></span>
                        </div>
                        
                    </div>

                    <div class="col-md-6 col-lg-5">
                        <h5 class="font-weight-normal border-top border-white pt-4 mb-4">Academia</h5>
                        <div class="mb-5">
                            <ul>
                                <li>Brindamos capacitación en normas, modelos y metodologías certificadas y reconocidas (itil, cobit, gti, pmp, iso 22301, iso 27031 y más)</li>
                                <li>Brindamos capacitaciones personalizadas, abiertas o en sus instalaciones (in-house)</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5">
                        <h5 class="font-weight-normal border-top border-white pt-4 mb-4">Gestión de Proyectos</h5>
                        <div class="mb-5">
                            <ul>
                                <li>Administración de proyectos estratégicos</li>
                                <li>Planes para la Comunicación y de la Gestión para el Cambio</li>
                                <li>Aseguramiento y Control de la Calidad (QA) para Proyectos en Tecnología</li>
                                <li>Planes para la Gestión de Riesgos</li>
                                <li>Automatización mediante herramientas para el adecuado monitoreo y control de los proyectos</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </section>
            <!-- Section -->

        </div>
    </div>
</section>
