<h1 id="diferenciadores">Diferenciadores</h1>
<hr>
<style>
    .list-group-item {
        border: none;
        display: list-item;
    }
</style>
<ul class="list-group">
    <li class="list-group-item">Somos profesionales capacitados, certificados y disponemos de amplia experiencia
        comprobada.</li>
    <li class="list-group-item">Nuestro enfoque de trabajo se basa en buenas prácticas de la industria.</li>
    <li class="list-group-item">Fomentamos la trasferencia de conocimiento hacia el personal de su empresa.</li>
    <li class="list-group-item">Nos enfocamos en brindarle un servicio de asesoría de alta calidad.</li>
    <li class="list-group-item">Tenemos un alto nivel de experiencia, credibilidad y reputación.</li>
    <li class="list-group-item">Brindamos un alto compromiso y confidencialidad en nuestros servicios.</li>
</ul>