<footer class="page-footer  bg-primary">
    <div class="font-small py-4 white-text rgba-black-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a class="navbar-brand" href="{{ url_for('index') }}">
                        <img height="30" class="d-inline-block align-top" alt="AMS logo" src="{{ url_for('static', filename='img/svg/ams_dark.svg') }}">
                    </a>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2 text-uppercase">
                        <li>
                            <a class="mx-3" href="{{ url_for('about') }}">Sobre Nosotros</a>
                        </li>
                        <li>
                            <!-- TODO Change this url -->
                            <a class="mx-3" href="/blog">Blog</a>
                        </li>
                        <li>
                            <a class="mx-3" href="{{ url_for('contact') }}">Contacto</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="footer-copyright text-right bg-transparent light-grey-text mt-2">© 2019.
                        <a class="light-grey-text"> All rights
                            reserved.</a>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</footer>