<h1 id="nuestros-valores">Nuestros Valores</h1>
<hr>

<div class="row">
    <div class="col-md-3 col-sm-5">
        <h2 id="integridad">Integridad</h2>
        <p>Aplicamos altos estándares de conducta profesional en todas nuestras actividades.</p>
        <p>Nos comportamos responsablemente, de manera que mantenemos la confianza de nuestros clientes; profesionales
            y la comunidad; así como la reputación de nuestra firma.</p>
    </div>
    <div class="col-md-3 col-sm-5">
        <h2 id="respeto">Respeto</h2>
        <p>Siempre acutamos con respeto hacia nuestros profesionales, clientes y hacia la comunidad.</p>
        <p>Respetamos el medio ambiente, ese es nuestro compromiso social.</p>
    </div>
    <div class="col-md-3 col-sm-5">
        <h2 id="valor-agregado">Valor Agregado</h2>
        <p>Estamos comprometidos en hacer todo nuestro esfuerzo para brindar servicios de valor agregado a nuestros
            clientes.
        </p>
    </div>
    <div class="col-md-3 col-sm-5">
        <h2 id="objetividad">Objetividad</h2>
        <p>Somos independientes y objetivos.</p>
        <p>Brindamos hechos, no juicios de valor.</p>
    </div>
</div>